

  .content {
    grid-area: cont;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
  }
  .bodyHeader img {
    width: 990px;
  }
  .contentdescription {
    background-color: chartreuse;
    
  }