
.borderWrapper{
  width:1250px;
  border:1px solid blue;
  border-radius: 15px;
  margin: 20px auto;
  background:linear-gradient(50deg,blue, red, green);
}
.app-wrapper {
  padding:5px;
  width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-areas:
    "head head"
    "navi cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

