
.borderWrapper{
  width:1250px;
  border:1px solid blue;
  border-radius: 15px;
  margin: 20px auto;
  background:linear-gradient(50deg,blue, red, green);

}
.app-wrapper {

  padding:5px;
  width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-areas:
    "head head"
    "navi cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: head;
  background-color: aquamarine;

}

.nav {
  grid-area: navi;
  background-color: blueviolet;

}

.content {
  grid-area: cont;
  background-color: chartreuse;
  display: flex;
  flex-direction: column;

}

.content img {
  width: 990px;

}

.header img {
  width: 50px;
}

.bodyHeader {
  height: 300px;
}

.contentdescription {
  background-color: chartreuse;
  height: 700px;
}